@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.input {
  background: none;
  border: none;
}

.section-1 {
  width: 100%;
  height: auto;
  background-image: url(../../img/backgrounds/solarBg.png);
  background-size: cover;
  background-position: center;
}
.section-1 .logo {
  text-align: center;
  padding-top: 70px;
}
.section-1 .welcome {
  width: 932px;
  margin: 0 auto;
  text-align: center;
}
.section-1 .welcome p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 4%;
  padding-top: 4%;
}
.section-1 .welcome h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 87px;
  font-variant: small-caps;
  color: #FFFFFF;
}
.section-1 .welcome h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  color: #FFFFFF;
}
.section-1 .welcome .conect {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  margin-top: 109px;
}
.section-1 .welcome .conect a {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 5%;
}
.section-1 .welcome .social {
  width: 166px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  padding-bottom: 3%;
}

@media (max-width: 950px) {
  .section-1 .welcome {
    width: 650px;
  }

  .section-1 .welcome h1 {
    font-size: 45px;
  }
}
@media (max-width: 650px) {
  .section-1 .welcome {
    width: 100%;
  }

  .section-1 .welcome h1 {
    font-size: 35px;
  }

  .section-1 .welcome h2 {
    font-size: 25px;
  }

  .section-1 .welcome .conect {
    margin-top: 70px;
  }
}
@media (max-width: 450px) {
  .section-1 .welcome h1 {
    font-size: 20px;
    line-height: 41px;
  }

  .section-1 .welcome h2 {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  .section-1 .welcome .social {
    margin-top: 20px;
  }
}
.section-2 {
  width: 100%;
  height: 100vh;
  margin-top: 120px;
}
.section-2 .section2_content {
  width: 80%;
  margin: 0 auto;
}
.section-2 .section2_content .title_section2 h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 33px;
  color: #868585;
  margin-bottom: 58px;
}
.section-2 .leftRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-2 .leftRight .left {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 639px;
}
.section-2 .leftRight .left div h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 25px;
  color: #303030;
}
.section-2 .leftRight .left div p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 15px;
  color: #303030;
}
.section-2 .leftRight .right {
  width: 50%;
}
.section-2 .leftRight .right img {
  width: 100%;
}

@media (max-width: 1000px) {
  .section-2 .leftRight .left div h2 {
    font-size: 15px;
  }

  .section-2 .leftRight .left div p {
    font-size: 10px;
  }

  .leftRight {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 850px) {
  .section-2 .leftRight .left {
    height: auto;
    width: 100%;
  }

  .section-2 .leftRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-2 {
    width: 90%;
    margin: 120px auto;
  }

  .section-2 .leftRight .right {
    width: 100%;
    margin-top: 50px;
  }

  .section-2 .leftRight .left div h2 {
    font-size: 20px;
  }

  .section-2 .leftRight .left div p {
    font-size: 15px;
  }

  .section-2 .leftRight .left div {
    margin-top: 50px;
  }
}
.section3 {
  width: 100%;
  height: 100vh;
  margin-top: 250px;
}

.section3_conect {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3_left h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 33px;
  color: #868585;
}

.section3_left-a {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18%;
}
.section3_left-a p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 19px;
  color: #303030;
}
.section3_left-a img {
  width: 37%;
  height: 37%;
}

.section3_left-b {
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 45%;
}
.section3_left-b h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 25px;
  color: #303030;
  margin-top: 16px;
}
.section3_left-b p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  color: #303030;
  margin-top: 15px;
}

.section3_right h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  color: #303030;
  width: 600px;
}

.section3_right img {
  width: 90%;
  height: 67%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4%;
  margin-left: 1%;
}

.section3_right {
  width: 50%;
}
.section3_right img {
  width: 100%;
}

@media (max-width: 1000px) {
  .section3 .section3_conect .section3_right h2 {
    font-size: 12px;
    width: 400px;
  }

  .section3 .section3_conect .section3_right img {
    height: auto;
    margin-left: 1%;
  }

  .section3 .section3_conect .section3_left .section3_left-a p {
    font-size: 10px;
  }

  .section3 .section3_conect .section3_left .section3_left-a {
    width: 85%;
  }

  .section3 .section3_conect .section3_left .section3_left-b h2 {
    font-size: 11px;
  }

  .section3 .section3_conect .section3_left .section3_left-b p {
    font-size: 10px;
    margin-top: 3px;
  }
}
@media (max-width: 850px) {
  .section3 {
    margin-top: 115%;
  }

  .section3 .section3_conect {
    width: 70%;
    display: block;
  }

  .section3 .section3_conect .section3_left .section3_left-a p {
    font-size: 16px;
  }

  .section3 .section3_conect .section3_left .section3_left-b {
    width: 85%;
    margin: 0 auto;
    margin-top: 8%;
  }

  .section3 .section3_conect .section3_left .section3_left-b h2 {
    font-size: 20px;
  }

  .section3 .section3_conect .section3_left .section3_left-b p {
    font-size: 14px;
  }

  .section3 .section3_conect .section3_right {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
  }

  .section3 .section3_conect .section3_right h2 {
    font-size: 18px;
    width: 100%;
  }

  .section3 .section3_conect .section3_right img {
    margin-left: 0%;
  }
}
@media (max-width: 770px) {
  .section3 .section3_conect .section3_left .section3_left-a {
    width: 91%;
  }

  .section3 .section3_conect .section3_left .section3_left-a p {
    font-size: 17px;
  }

  .section3 .section3_conect .section3_left .section3_left-b {
    width: 100%;
  }

  .section3 .section3_conect .section3_left .section3_left-b h2 {
    font-size: 21px;
  }

  .section3 .section3_conect .section3_left .section3_left-b p {
    font-size: 14px;
  }

  .section3 .section3_conect .section3_right h2 {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
  }

  .section3 .section3_conect .section3_right img {
    width: 100%;
    margin: 0 auto;
    margin-left: -1%;
    margin-top: 4%;
  }
}
@media (max-width: 720px) {
  .section3 .section3_conect .section3_left .section3_left-a p {
    font-size: 13px;
  }

  .section3 .section3_conect .section3_left .section3_left-b h2 {
    font-size: 12px;
  }

  .section3 .section3_conect .section3_left .section3_left-b p {
    font-size: 12px;
  }
}
@media (max-width: 698px) {
  .section3 {
    margin-top: 145%;
  }
}
@media (max-width: 580px) {
  .section3 {
    margin-top: 170%;
  }

  .section3 .section3_conect .section3_left .section3_left-a {
    width: 95%;
  }

  .section3 .section3_conect .section3_left .section3_left-a p {
    font-size: 12px;
  }

  .section3 .section3_conect .section3_left .section3_left-b h2 {
    font-size: 10px;
  }

  .section3 .section3_conect .section3_left .section3_left-b p {
    font-size: 10px;
  }
}
@media (max-width: 520px) {
  .section3 {
    margin-top: 200%;
  }
}
@media (max-width: 480px) {
  .section3 .section3_conect .section3_left .section3_left-a p {
    font-size: 10px;
  }

  .section3 .section3_conect .section3_left .section3_left-b {
    display: block;
  }

  .section3 .section3_conect .section3_left .section3_left-b h2 {
    font-size: 25px;
    margin-top: 36px;
  }

  .section3 .section3_conect .section3_left .section3_left-b p {
    font-size: 15px;
    margin-top: 16px;
  }
}
@media (max-width: 450px) {
  .section3 {
    margin-top: 240%;
  }

  .section3 .section3_conect .section3_left .section3_left-a {
    display: block;
  }

  .section3 .section3_conect .section3_left .section3_left-a p {
    font-size: 15px;
    margin-top: 8%;
  }

  .section3 .section3_conect .section3_left .section3_left-a img {
    width: 85%;
  }
}
@media (max-width: 420px) {
  .section3 {
    margin-top: 260%;
  }
}
@media (max-width: 370px) {
  .section3 {
    margin-top: 280%;
  }
}
@media (max-width: 340px) {
  .section3 {
    margin-top: 290%;
  }
}
@media (max-width: 325px) {
  .section3 {
    margin-top: 218%;
  }
}
@media (max-width: 280px) {
  .section3 {
    margin-top: 500%;
  }

  .section3 .section3_conect .section3_left h1 {
    font-size: 20px;
  }
}
.section4 {
  width: 100%;
  height: 60vh;
  border: soled red;
}

.section4_conect {
  width: 100%;
  height: 50vh;
  margin-top: 7%;
  background-image: url(../../img/backgrounds/b.png);
  background-size: cover;
  background-position: center;
}

.section4-text {
  height: 300px;
  padding-top: 5%;
}

.section4-text p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .section4 .section4_conect .section4-text {
    height: auto;
  }

  .section4 .section4_conect .section4-text p {
    font-size: 22px;
    line-height: 35px;
  }
}
@media (max-width: 852px) {
  .section4 {
    margin-top: 100%;
  }

  .section4 .section4_conect {
    height: 25vh;
  }
}
@media (max-width: 512px) {
  .section4 .section4_conect .section4-text p {
    font-size: 18px;
    line-height: 31px;
  }

  .section4 .section4_conect .section4-text {
    padding-top: 18%;
  }

  .section4 .section4_conect {
    height: 25vh;
  }
}
@media (max-width: 480px) {
  .section4 {
    margin-top: 100%;
  }

  .section4 .section4_conect {
    height: 25vh;
  }
}
@media (max-width: 450px) {
  .section4 {
    margin-top: 200%;
  }

  .section4 .section4_conect {
    height: 25vh;
  }
}
@media (max-width: 420px) {
  .section4 .section4_conect .section4-text p {
    font-size: 15px;
    line-height: 27px;
  }

  .section4 .section4_conect {
    height: 25vh;
  }
}
@media (max-width: 380px) {
  .section4 {
    margin-top: 230%;
  }

  .section4 .section4_conect {
    height: 25vh;
  }
}
@media (max-width: 360px) {
  .section4 {
    margin-top: 300%;
  }
  .section4 .section4_conect {
    height: 25vh;
  }

  .section4 .section4_conect .section4-text p {
    font-size: 13px;
    line-height: 27px;
  }

  .section4 .section4_conect {
    height: 25vh;
  }
}
@media (max-width: 280px) {
  .section4 {
    margin-top: 400%;
  }

  .section4 .section4_conect .section4-text p {
    font-size: 10px;
    line-height: 24px;
  }
}
.section5 {
  width: 100%;
  height: 100vh;
}

.section5_conect {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section5-left h1 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 33px;
  color: #868585;
  width: 180%;
}

.section5-left img {
  width: 450px;
  padding-top: 10%;
}

.bb {
  width: 20%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5%;
}

.section5-right {
  margin-left: 7%;
}

.section5-right h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 25px;
  color: #303030;
  padding-top: 16%;
}

.section5-right p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
  color: #303030;
  color-margin-top: 19%;
  padding-top: 8%;
}

.ooo {
  padding-top: 11%;
}

.ooo a {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  text-align: center;
  color: #303030;
}

.section5-left {
  width: 50%;
}
.section5-left img {
  width: 100%;
}

@media (max-width: 900px) {
  .section5 .section5_conect .section5-left img {
    width: 320px;
    height: auto;
  }

  .section5 .section5_conect .section5-left .bb {
    width: 40%;
  }
}
@media (max-width: 850px) {
  .section5 .section5_conect {
    display: block;
  }

  .section5 .section5_conect .section5-left img {
    width: 200%;
  }

  .section5 .section5_conect .section5-left .bb {
    width: 22%;
  }

  .section5 .section5_conect .section5-right p {
    padding-top: 6%;
  }
}
@media (max-width: 700px) {
  .section5 .section5_conect .section5-right {
    margin-left: 0%;
  }
}
@media (max-width: 600px) {
  .section5 .section5_conect .section5-right h2 {
    font-size: 15px;
  }

  .section5 .section5_conect .section5-right p {
    padding-top: 4%;
    font-size: 11px;
  }
}
@media (max-width: 450px) {
  .section5 {
    margin-right: 400%;
  }
}
.section6 {
  width: 100%;
  height: 160vh;
  margin-top: 120px;
}
.section6 .section6_conect {
  width: 80%;
  margin: 0 auto;
}
.section6 .section6_conect .title-section6 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 33px;
  color: #868585;
}
.section6 .lefttrightt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10%;
}
.section6 .lefttrightt .leftt {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 639px;
}
.section6 .lefttrightt .leftt div h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 25px;
  color: #303030;
}
.section6 .lefttrightt .leftt div p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-top: 15px;
  color: #303030;
}
.section6 .lefttrightt .rightt {
  width: 50%;
}
.section6 .lefttrightt .rightt img {
  width: 100%;
}

@media (max-width: 1000px) {
  .section6 .lefttrightt .leftt div h2 {
    font-size: 15px;
  }

  .section6 .lefttrightt .leftt div p {
    font-size: 10px;
  }

  .lefttrightt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 850px) {
  .section6 .lefttrightt .leftt {
    height: auto;
    width: 100%;
  }

  .section6 .lefttrightt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section6 {
    width: 90%;
    margin: 120px auto;
  }

  .section6 .lefttrightt .rightt {
    width: 100%;
    margin-top: 50px;
  }

  .section6 .lefttrightt .leftt div h2 {
    font-size: 20px;
  }

  .section6 .lefttrightt .leftt div p {
    font-size: 15px;
  }

  .section6 .lefttright .leftt div {
    margin-top: 50px;
  }
}
footer {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/bi26.png);
  background-size: cover;
  background-position: center;
}

.footer_conect {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
}

.lefttRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Right .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lefttRight h2 {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 33px;
  color: #FFFFFF;
}

.lefttRight a {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  color: #FFFFFF;
  padding-top: 5%;
  padding-bottom: 5%;
}

.knopka-text {
  width: 70%;
  padding-top: 20%;
  background: none;
  border: none;
}
.knopka-text input {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
  color: #FFFFFF;
  background: none;
  border: none;
}

.leftt button {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 25px;
  color: #FFFFFF;
  width: 70%;
  padding-top: 40%;
  margin: 0 auto;
}

.footer-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.iconss {
  width: 15%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-footer a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  color: #FFFFFF;
}

.politili {
  padding-top: 10px;
}

@media (max-width: 850px) {
  footer {
    margin-top: 40%;
  }

  footer .footer_conect .lefttRight .Right {
    margin-left: 11%;
  }
}
@media (max-width: 600px) {
  footer .footer_conect .lefttRight .Right a {
    font-size: 12px;
  }

  footer .footer_conect .footer-footer a {
    font-size: 7px;
  }
}
@media (max-width: 550px) {
  footer {
    height: 120vh;
  }

  footer .footer_conect .lefttRight {
    display: block;
  }

  footer .footer_conect .lefttRight .Right {
    padding-top: 15%;
  }
}
@media (max-width: 515px) {
  footer {
    margin-top: 50%;
  }
}
@media (max-width: 280px) {
  footer {
    margin-top: 100%;
  }
}